<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Zadanie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>

<h2>Dodaj Zadanie</h2>

<form th:action="@{/tasks}" method="post" th:object="${newTask}">
    <label for="taskType">Typ:</label>
    <input type="text" id="taskType" name="taskType" th:field="*{taskType}" required><br>

    <label for="taskTitle">Tytuł:</label>
    <input type="text" id="taskTitle" name="taskTitle" th:field="*{taskTitle}" required><br>

    <label for="taskContent">Treść:</label>
    <textarea id="taskContent" name="taskContent" th:field="*{taskContent}" required></textarea><br>

    <label for="completed">Zakończone:</label>
    <input type="checkbox" id="completed" name="completed" th:field="*{completed}"><br>

<!--    <input type="hidden" id="creationDate" name="creationDate" th:value="${#dates.format(#dates.now(), 'yyyy-MM-dd')}">-->

    <button type="submit">Dodaj Zadanie</button>
</form>

</body>
</html>
