<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Zadań</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>

<div>
    <a th:href="@{'/tasks/new'}"><button>Dodaj zadanie</button></a>
    <button onclick="goBack()">Powrót</button>
    <a th:href="@{'/'}"><button>Powrót do strony głównej</button></a>
</div>

<h2>Lista Zadań</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Typ</th>
        <th>Tytuł</th>
        <th>Treść</th>
        <th>Czas Utworzenia</th>
        <th>Zakończone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskId}"></td>
        <td th:text="${task.taskType}"></td>
        <td th:text="${task.taskTitle}"></td>
        <td th:text="${task.taskContent}"></td>
        <td th:text="${task.createdTime}"></td>
        <td th:text="${task.completed}"></td>
        <td>
            <a th:href="@{'/tasks/' + ${task.taskId}}">Pokaż szczegóły</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
