<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Szczegóły Zadania</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>

<h2>Szczegóły Zadania</h2>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Typ</th>
    <th>Tytuł</th>
    <th>Treść</th>
    <th>Czas Utworzenia</th>
    <th>Zakończone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${task.taskId}"></td>
    <td th:text="${task.taskType}"></td>
    <td th:text="${task.taskTitle}"></td>
    <td th:text="${task.taskContent}"></td>
    <td th:text="${task.createdTime}"></td>
    <td th:text="${task.completed}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
